<div class="row">
    <h6 class="col s2">MailBox Peak</h6>
    <a class="col s2 offset-s8" href="/">Go Home</a>
</div>
<div class="row">
    <div class="col s12">
        <h4>Description</h4>
        <p>@ViewBag.Trail.Description</p>
    </div>
    <div class="col s12">
        <h4>Trail Length</h4>
        <p>@ViewBag.Trail.TrailLength</p>
    </div>
    <div class="col s12">
        <h4>Elevation Change</h4>
        <p>@ViewBag.Trail.Elevation</p>
    </div>
    <div class="col s4 offset-s6">
        <p>Longitue - @ViewBag.Trail.Log N</p>
        <p>Latitude - @ViewBag.Trail.Lat W</p>
    </div>
</div>