<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <h2>Change the animal</h2>
    <% if(typeof(errors) != 'undefined') { %>
        <% for (var x in errors) { %>
        <h3><%= errors[x].message %></h3>
        <% } %>
    <% } %>
    <form action="/edit/<%= animals[0]._id %>" method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name" placeholder="<%= animals[0].name %>">
        <label for="species">Species:</label>
        <input type="text" name="species" placeholder="<%= animals[0].species %>">
        <label for="color">Color:</label>
        <input type="text" name="color" placeholder="<%= animals[0].color %>">
        <input type="submit">
    </form>
    <a href="/"><button>Go back</button></a>
</body>
</html>