<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <h2>The Dojo Message Board</h2>
    <% if(typeof(errors) != 'undefined') { %>
        <% for (var x in errors) { %>
        <h3><%= errors[x].message %></h3>
        <% } %>
    <% } %>
    <hr>
    <form action="/process" method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name">
        <label for="text">Message:</label>
        <input type="text" name="text">
        <input type="submit">
    </form>
    <% for (var i in posts) { %>
        <hr>
        <h4>Name: <%= posts[i].name %></h4>
        <h4>Message: <%= posts[i].text %></h4>
        <h4>comments</h4>
        <hr>
        <% for(var z = 0; z< posts[i].comments.length; z++) { %>
            <h5>Name: <%= posts[i].comments[z].name %></h5>
            <h5>message: <%= posts[i].comments[z].text %></h5>
        <% } %>
        <form action="/comments/<%= posts[i]._id %>" method="POST">
            <label for="name">Name:</label>
            <input type="text" name="name">
            <label for="text">Comment</label>
            <input type="text" name="text">
            <input type="submit" value="comment">
        </form>
    <% } %>
</body>
</html>